<div class='row no-gutters pb-5'>

  <div class='col-12 mt-4 text-center'>
    <%= image_tag 'logo.png', class: 'img-logo-page' %>
  </div>

  <div class='col-12 mt-5'>
    <div class='dv-faixa-page pt-2 pb-1 pr-3'>
      <h4 class='text-right text-white m-0'>PARCEIROS</h4>
    </div>
  </div>

  <div class='col-12 mt-5 text-center'>
    <h4 class='mt-3'>Três maiores redes de hipermercados:</h4>

    <div class='row no-gutters pt-3 justify-content-center mt-5'>
      <div class='col-3'>
        <%= image_tag 'carrefour-logo.png', class: 'img-parceiros-page' %>
      </div>

      <div class='col-3 mt-5'>
        <%= image_tag 'walmart-logo.png', class: 'img-parceiros-page' %>
      </div>

      <div class='col-3'>
        <%= image_tag 'pao-de-acucar-logo.jpg', class: 'img-parceiros-page' %>
      </div>
    </div>
  </div>

  <div class='col-12 mt-5 text-center'>
    <h4 class='mt-5'>Redes de supermercados com destaque regional em MG:</h4>

    <div class='row no-gutters pt-3 justify-content-center mt-5'>
      <div class='col-4'>
        <%= image_tag 'bretas-logo.jpg', class: 'img-parceiros-page' %>
      </div>

      <div class='col-4'>
        <%= image_tag 'smart-logo.jpg', class: 'img-parceiros-page' %>
      </div>

    </div>
  </div>

</div>
